<ion-header>
  <ion-toolbar>
    <ion-title>Інформація</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding text-center">
  <ion-text>
    <h4>
      Будь ласка, перед проходженням тесту ще раз уважно ознайомтесь із інструкцією. Впевніться, що маєте із собою необхідне обладнання: Вам знадобиться пульсоксиметр на весь час прохождення тесту. Виміряйте пульс у спокої, насичення крові киснем, зафіксуйте результати та переходьте до заповнення даних
    </h4>
  </ion-text>
</ion-content>
<ion-footer class="ion-padding">
  <ion-button expand="block" size="large" href="/enter-id">Далі</ion-button>
</ion-footer>
