<ion-header>
  <ion-toolbar>
    <ion-title>Тест</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-text *ngIf="status === 'none'">
    <h4>Для тесту ходіть ногами 6 хвилин і якийсь інший корисний текст
    </h4>
  </ion-text>
  <ion-text *ngIf="status === 'started'">
    <h4>У Вас гарно виходить, продовжуйте, залишилось: {{ timer  | amDateFormat : 'mm:ss' }}
    </h4>
  </ion-text>
  <div *ngIf="status === 'completed'">
    <ion-text>
      <h4>Зафіксований підсумок: <b>{{ steps }}</b> кроків</h4>
      <h4>Будь ласка, одразу після завершення тесту, виміряйте сатурацію та частоту серцевих скорочень, зафіксуйте результат та переходьте до заповнення даних</h4>
    </ion-text>
    <ion-item>
      <ion-checkbox [(ngModel)]="accepted"></ion-checkbox>
      <ion-label >Ознайомлен(ий/а)</ion-label>
    </ion-item>
  </div>
</ion-content>

<ion-footer class="ion-padding">
  <ion-button expand="block" size="large" *ngIf="status !== 'completed'" [disabled]="status !== 'none'" (click)="start()">Старт</ion-button>
  <ion-button expand="block" size="large" *ngIf="status === 'completed'" [disabled]="!accepted" (click)="next()">Далі</ion-button>
</ion-footer>
