<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>

    </ion-toolbar>
  </ion-header>


  <ion-button (click)="start()">Start</ion-button>
  <ion-button (click)="stop()">Stop</ion-button>
  <br>
  Timer: {{timer | amDateFormat:'mm:ss'}}
  <br>
  Steps: {{steps}}

  <!--app-explore-container name="Tab 1 page"></app-explore-container-->
</ion-content>
